/** @format */

.feed {
  flex: 0.6;
  margin: 0 20px;
}
.feed__inputContainer {
  padding: 10px;
  background-color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.feed__input {
  padding: 10px;
  border: 1px solid lightgray;
  padding-left: 15px;
  border-radius: 30px;
  display: flex;
  color: gray;
}

.feed__input > form {
  width: 100%;
  display: flex;
}
.feed__input > form > input {
  border: none;
  margin-left: 10px;
  flex: 1;
  outline-width: 0;
  font-weight: 600;
}
.feed__input > form > button {
  display: none;
}
.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}
