/** @format */

.sidebar {
  top: 80px;
  position: sticky;
  flex: 0.2;
  border-radius: 10px;
  height: fit-content;
  text-align: center;
}
.sidebar__avatar {
  margin-bottom: 20px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 0;
  border: 1px solid lightgray;
  padding-bottom: 10px;
  background-color: white;
}

.sidebar__top > img {
  margin-bottom: -20px;
  height: 60px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
